{% extends "bookface/base.html" %}

{% block fullname %}
{{cur_user.first_name}} {{cur_user.last_name}}
{% endblock %}

{% block recommend %}
{% for bf_user in recommend_list %}
	<li><a href="/bookface/visituser?username={{bf_user.username}}">{{bf_user.first_name}} {{bf_user.last_name}}</a> <small><a href="/bookface/home?addfriend={{bf_user.username}}">Add Friend</a></small></li>
{% endfor %}
{% endblock %}

{% block posts %}
{% for friend in friend_list %}
	<p><a href="/bookface/visituser?username={{friend.username}}">{{friend.first_name}} {{friend.last_name}}</a>
	<small><a href="/bookface/listfriends?unfriend={{friend.username}}">Unfriend</a></small></p>
	<hr/>
{% endfor %}
{% endblock %}

{% block recentvisits %}
{% for recent_user in recent_list %}
	<li> <a href="/bookface/visituser?username={{recent_user.username}}">{{recent_user.first_name}} {{recent_user.last_name}}</a>
{% endfor %}
{% endblock %}
